<div class="container" id="home-container">
    <div class="container-fluid text-dark p-5 text-center">
        <div class="container p-5">
            <h1 class="display-4">Siva's Blog</h1>
            <hr>
            <p>Go to My Website</p>
            
            <%= link_to "Sign Up!", signup_path, class: "btn btn-success"  %>
        </div>
    </div>
</div>



<% if false %>
<h1>This is the home page!</h1>
<%= link_to 'About', about_path()%> |
<%= link_to 'Articles list page', articles_path()%> 
<% end %>