@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important
}
.navbar-brand {
    font-size: 3rem;
}   
#logo {
    float: left;
    font-size : 1.7em;
    color: #fff;
    text-transform: UPPERCASE;
    letter-spacing: -1px;
    font-weight: bold;
}
#home-container{
    margin-top: 25px;
    background-image: asset-url('blog-banner.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
